html,
body {
  margin: 0;
  padding: 0;
  border-size: border-box;
  background: #722872;
}

h2 {
  text-align: Center;
  font-size: 70px;
  color: #ddd;
  text-shadow: 4px 5px 8px #000;
}

.wrapper {
  width: 100%;
  position: relative;
  top: 30px;
}

.container {
  width: 40%;
  max-width: 250px;
  min-width: 300px;
  margin: auto;
  border-radius: 10px;
}

.display_num {
  width: 100%;
  text-align: center;
}

.display_num input {
  width: 300px;
  height: 120px;
  position: relative;
  padding: 30px 5px 0 0;
  border: 2px solid #fff;
  text-align: right;
  font-size: 40px;
  outline: none;
}

.btn_container {
  width: 100%;
  border: 1px solid #ddd;
  background: skyblue;
}

.btn_container > div {
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.btn_container div button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  font-size: 20px;
  color: #ee55ee;
  background: none;
  border: none;
  outline: none;
}

#spacial_btn {
  font-size: 30px;
  color: green;
}

#clearNumber {
  color: red;
}

.btn_container div button:hover {
  color: #722872;
  border: 1px dotted #ee4455;
  border-size: border-box;
  transition: 1s;
}

#answer {
  width: 80%;
  border-radius: 0;
  cursor: pointer;
}
/* 
#answer:hover {
  border: 2px solid #722872;
} */
