html,
body {
  margin: 0;
  padding: 0;
  border-size: border-box;
  background: #000;
}

h2 {
  text-align: Center;
  font-size: 70px;
  color: #ddd;
}

.wrapper {
  width: 100%;
  position: relative;
  top: 30px;
}

.container {
  width: 40%;
  max-width: 250px;
  min-width: 300px;
  margin: auto;
  padding: 25px 10px 10px 10px;
  border: 2px solid #fff;
  border-radius: 10px;
}

.display_num {
  width: 100%;
  text-align: center;
}

.display_num input {
  width: 80%;
  position: relative;
  padding: 50px 5px 0 0;
  border: 2px solid #fff;
  text-align: right;
  font-size: 40px;
  outline: none;
}

.btn_container {
  width: 100%;
}

.btn_container > div {
  width: 100%;
  padding: 12px 0;
  text-align: center;
}

button {
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  font-size: 29px;
  background: none;
  border: 1px solid #722972;
  color: #722872;
  outline: none;
}

button:hover {
  color: #ddd;
  border: 2px solid #ddd;
  transition: 1s;
}

#answer {
  width: 80%;
  border: 2px solid #72872;
  border-radius: 0;
  cursor: pointer;
}

#answer:hover {
  border: 2px solid #722872;
  transition: 1s;
}
